.react-chatbot-kit-chat-input {
    width: 100%;
    padding: 12.5px;
    border: none;
    /* font-size: 0.85rem; */
    border-top: 1px solid #d8d8d8;
    border-bottom-left-radius: 5px;
    outline: 0;
}

.react-chatbot-kit-chat-btn-send {
    background-color: green;
    width: 100px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-chatbot-kit-chat-container {
    position: relative;
    width: 275px;
}

.react-chatbot-kit-chat-message-container {
    padding: 0 17.5px 10px 17.5px;
    overflow: scroll;
    height: 424px;
}

.react-chatbot-kit-chat-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #efefef;
    font-family: Arial;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #514f4f;
    padding: 12.5px;
    font-weight: bold;
}

.react-chatbot-kit-chat-inner-container {
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.react-chatbot-kit-chat-message-container {
    padding: 0 17.5px 10px 17.5px;
    overflow: scroll;
    height: 424px;
}

.react-chatbot-kit-chat-bot-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-start;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
}

.react-chatbot-kit-chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.react-chatbot-kit-chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.react-chatbot-kit-chat-btn-send {
    background-color: #17a34b;
    width: 100px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
    fill: #fff;
    width: 15px;
}

.react-chatbot-kit-chat-bot-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 12.5px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.react-chatbot-kit-chat-bot-message {
    background-color: #5ef363df;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: 184.5px;
    margin-left: auto;
    text-align: left;
}

.react-chatbot-kit-user-chat-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-end;
}

.react-chatbot-kit-user-chat-message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #585858;
    font-weight: medium;
    position: relative;
    text-align: left;
}

.react-chatbot-kit-user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 12.5px;
    background-color: #17a34b;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.react-chatbot-kit-user-avatar-icon {
    fill: #fff;
    width: 15px;
    height: 15px;
}

.react-chatbot-kit-chat-input-form {
    width: 100%;
    display: flex;
}

.option-button {
    margin: 5px;
    border-radius: 25px;
    padding: 8px;
    background: transparent;
    text-align: center;
    border: 1px solid blue;
}

.flashcard-container {
    padding: 15px;
    border-radius: 5px;
    background-color: #d8d8d8;
    border: 1px solid #17a34b;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flashcard-button {
    background: transparent;
    /* padding: 8px; */
    border-radius: 3px;
    /* border-color: blue; */
    /* margin: 5px; */
    width: 130px;
    /* border: 1px solid blue; */
    margin-top: 5px;
    color: green;
}